* {
    font-family: 'Barlow', sans-serif;
    font-family: 'Barlow Condensed', sans-serif;
    color: #494949
}

html,
body {
    margin: 0px;
    padding: 0;
    font-size: 22px;
}

body {
    background-color: #F3F3F3;
    display: flex;
}

main {
    padding: 20px;
    border-radius: 20px;
    height: 95.5vh;
    display: flex;
    flex-direction: column;
}

.medium-width {
    background-color: #BDCAB5;
    width: 75%;
    max-width: 1500px;
    justify-content: center;
}

.full-width {
    background-color: #0094A3;
    width: 90%;
    max-width: 1800px;
    flex-wrap: wrap;
    justify-content: center;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.medium-nav {
    width: 25%;
    justify-content: space-around;
}

.small-nav {
    width: 8%;
    margin-top: 1rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 2rem;
    margin-top: 5rem;
}

nav ul li {
    margin-bottom: 5rem;
    color: #BDCAB5;
    font-weight: bold;
}

.info-block {
    background-color: #f3f3f3;
    border-radius: 20px;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
}

#timeline-nav {
    display: flex;
    width: 20%;
    height: 90vh;
    align-items: flex-end;
    flex-direction: column;
}

a h1 {
    color: #ffffff;
}

.scroll {
    width: 70%;
    height: 90vh;
    overflow-y: scroll;
}

#welcome {
    font-size: 2.5rem;
    font-weight: bold;
    padding-left: 15%;
}

#name {
    font-size: 4.5rem;
    font-weight: bold;
    color: #ffffff;
    padding-left: 40%;
}

#profile {
    height: 210px;
    margin-top: 1.2rem;
    border-radius: 50%;
}